<!DOCTYPE html>
<html>

<head>
    <title>Todo List APP test</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #2a2a2a;
            text-align: center;
            margin-top: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin: 10px;
            padding: 10px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            display: flex;
            align-items: center;
        }

        li a {
            text-decoration: none;
            margin-right: 10px;
            color: #2a2a2a;
            font-size: 16px;
            transition: color 0.2s ease-in-out;
        }

        li a:hover {
            color: #ff4444;
        }

        form {
            text-align: center;
            margin-top: 20px;
        }

        label {
            display: block;
            font-size: 18px;
            margin-bottom: 10px;
        }

        input[type="text"] {
            padding: 5px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 300px;
        }

        input[type="submit"] {
            padding: 5px 10px;
            font-size: 16px;
            background-color: #2a2a2a;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #333;
        }
    </style>
</head>

<body>
    <h1>Jenkins is just Amazing and Awesome</h1>
    <ul>
        <% todolist.forEach(function(todo, index) { %>
        <li>
            <a href="/todo/delete/<%= index %>">✘</a>
            <a href="/todo/<%= index %>">✎</a>
            <span><%- todo %></span>
        </li>
        <% }); %>
    </ul>

    <form action="/todo/add/" method="post">
        <p>
            <label for="newtodo">What should I do?</label>
            <input type="text" name="newtodo" id="newtodo" autofocus />
            <input type="submit" value="Add" />
        </p>
    </form>
</body>

</html>
